/* Style for slider */
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #dddddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ED9C27;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ED9C27;
    cursor: pointer;
  }

/* Style for table layout */

  .map_tab {
    width: 40%;
    position: relative;
  }
  .camera_tab {
    width: 60%;
    height: 40%;
  }
  .controls_tab {
    width: 60%;
    height: 20%;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .duckies_tab {
    width: 100%;
    overflow: scroll;
    display: block;
    max-height: 220px;
  }

/* Style of Duckiebot entities */

  .duckiebot {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
  }

  .watchtower {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: royalblue;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
  }

/* Resizing camera image */

  .camera {
    width: 100%;
  }

  .camera_click{
    width: 80%;
    z-index: 5000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .raspi_camera{
    width:100%;
  }
/* Resizing map image */

  .map {
    width: 98%;
  }

/* Resizing entity table */

  .duckie_list {
    width: 100%;
    height: 100%;
    vertical-align: top;
    text-align: center;
  }
  .duckie_list>tbody>tr{
      border-bottom: 1px solid #ccc;
  }

/* Styling for popup */

  .blackout {
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:#222;
    opacity:0.6;
    z-index:9999;
    display:none
  }

  .popup {
    position:absolute;
    width:50%;
    height:80%;
    top:10%;
    left:25%;
    border: 5px solid #ED9C27;
    background-color:white;
    z-index:99999;
    padding:15px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:none;
  }

  .popup_debug {
    position:absolute;
    width:20%;
    height:80%;
    top:10%;
    left:78%;
    border: 5px solid white;
    background-color:black;
    color: white;
    z-index:99999;
    padding:15px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:none;
    overflow:auto;
  }

  .popup_content{
    padding-top:20px;
  }

  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color:#ED9C27;
  color: white;
  }

  .nav-pills>li>a{
  color: #333;
  }

  .nav .no_hover a:hover {
    background:rgba(0,0,0,0);
  }

/* Styling for Changelog */
.history_tab {
  width: 100%;
  overflow: scroll;
  display: block;
  max-height: 180px;
}

.history_list {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
.history_list>tbody>tr{
    border-bottom: 1px solid #ccc;
}

/* Styling for submission table */
.submission_tab {
  width: 100%;
  overflow: scroll;
  display: block;
  max-height: 500px;
}

/* Host loading message */
.hosts_loading{
  width: 80%;
  height:10%;
  margin-top: 60%;
  margin-left: 10%;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  border: 10px solid #ED9C27;
  display:none;
  text-align: center;
}

/* Loading ring */
.lds-ring {
  /* display: inline-block; */
  /* position: relative; */
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid #ED9C27;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ED9C27 transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animation for cross and tick, adapted from https://codepen.io/sat-ui/pen/BeWbeo?&page=1 */
svg {
  width: 30px;
  display: block;
}

.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 3s ease-in-out;
  animation: dash 3s ease-in-out;
}
.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s 1.5s ease-in-out forwards;
  animation: dash 3s 1.5s ease-in-out forwards;
}
.check {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 3s 1.5s ease-in-out forwards;
  animation: dash-check 3s 1.5s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* Smart wrapping of many entities, taken from: https://stackoverflow.com/questions/39124661/content-inside-a-div-in-a-new-column-on-overflow */
.docker_entities {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 250px;
}

.docker_entity {
  height: 25px;
  width: 120px;
  text-align: center;
  line-height: 25px;
}

/* Wrapping of health status in the information popup */
.health_box {
  width: 100%;
  overflow: scroll;
  display: block;
  max-height: 600px;
}